@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

main{
    display: flex;
    flex-direction: column;
    width: 100 vw;
    height: 100 vh;
        
}

#wrapper{
    display: flex;
    width: 930px;
    height: 500px;
    /*centrer*/
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


#sedans{
    background-color: hsl(31, 77%, 52%);
    width: 310px;
    height: 500px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#sedans button{

    color: hsl(31, 77%, 52%);
}

#suvs{
    background-color: hsl(184, 100%, 22%);
    width: 310px;
    height: 500px;
}

#suvs button{
    color: hsl(184, 100%, 22%);
}

#luxury{
    background-color: hsl(179, 100%, 13%);
    width: 310px;
    height: 500px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#luxury button {
    color: hsl(179, 100%, 13%);
}

.icon{
    margin: 47px auto 0px 47px;
}

h1{
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    
    margin: 40px auto 0 41px;
    
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size:15px;
    font-weight: 400px;

    margin: 38px 65px 88px 41px;
}

button{
    font-family: 'Lexend Deca', sans-serif;
    width: 147px;
    height: 48px;
    border-color: hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    border-style: none;
    border-radius: 25px;

    margin: 0 0 0 48px;
    

}

.attribution {
    font-size: 11px; 
    text-align: center; 
    margin-top: 100vh;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    }


@media only screen and (max-width: 375px) {
    
    #wrapper{
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 1335px;
        margin-top: 88px;
        padding-bottom: 88px;
        
    
    }

    #sedans{
        width: 330px;
        height: 445px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        
    }

    #suvs{
        
        width: 330px;
        height: 445px;
    }
    
    #luxury{
        
        width: 330px;
        height: 445px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 0px;
        
    }

    h1{
        margin: 41px 0px 0px 50px;
    }

    p{
        margin: 38px 56px 29px 48px;
    }
    
}
